#textone{
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(54, 54, 54);
    background: linear-gradient(45deg,rgb(255, 128, 155) rgb(161, 79, 97) 35%, rgb(0, 0, 0) 100%);
    font-family: normal, Arial, sans-serif;
    color: #ff809c;
    }
}

.container {
    text-align: center;
    padding: 20px; /* Adicionando espaçamento interno */
}

input {
    padding: 8px;
}

button {
    padding: 6px;
    cursor: pointer;
    background-color: #ff809c; /* Cor de fundo */
    color: #1f1f1f; /* Cor do texto */
    border: none;
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
    transition: padding 0.3s ease;
    transition: border-color 0.3s ease;
    border-style: solid;
    border-width: 5px;
    border-radius: 6px;
    border-color: #ff809c;
}

button:hover {
    background-color: #bd576d; /* Cor de fundo ao passar o mouse */
    padding: 8px;
    border-color: #bd576d;
}
